/* Whole document: */

body {
  margin-top: 140px !important;
}

.navbar {
  min-height: 140px !important;
}

/* Make mobile navbar skinnier */

  @media screen and (max-width: 768px) {
    body {
      margin-top: 100px !important;
    }
     .navbar {
      min-height: 100px !important;
    }
  }

.navbar {
    background-color: #fcfcfc33;
    box-shadow: 0 0 50px rgba(252, 252, 252, 0.76);
    text-transform: lowercase;
    background-image: linear-gradient(to bottom, #fcfcfc, #fcfcfc, #fcfcfc, #fcfcfced, #fcfcfcba, #fcfcfc33) !important;  
}

/*make drop down menu more opaque on mobile */

@media (max-width: 991.98px) { 
  .navbar-collapse {
    background-color: #f7f7f7d9 !important;
  }
}

/*----NAV LINK HOVER ANIMATION -----*/

.nav-link:hover {
  color: black !important;
}


/* stroke */

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #999999;
  height: 2px;
}

a.nav-link:hover:after {
  width: 70%;
}

/*----------------------------------*/


h1, h2, h3 {
  text-transform: uppercase;
}


.hljs { /* code font size */
font-size: 16px;
padding: 1rem;
}


/* --------Blog posts--------- */
/* Headers within blogs */

.article-style .section.level1 h1,
.article-style .section.level2 h2,
.article-style .section.level3 h3 {
  padding-top: 2em;
  padding-bottom: 1em;
  font-weight: 700;
}

/* Links within blog posts */

.article-style .section a {
  color: #E14675;
}

.article-style .section a:hover {
  color: #DCA0B2;
}

/* -------About/Home Section-------- */

.home-section.wg-about {
  padding-top: 0;
  margin-top: -30px;
  box-shadow: 0px -50px 50px 50px rgba(252, 252, 252, 1);

}


#about h1 {
  margin-bottom: 50px;
}

#about h3 {
  margin-top: 50px;
}

#about .portrait-title h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

#about .portrait-title h3 {
  text-transform: lowercase !important;
  font-family: "Open Sans";
  margin-top: 10px;
}

#about .col-12.col-lg-8 {
  padding-left: 70px !important;
}

/* Evenly spaces bio text on mobile */

  @media screen and (max-width: 768px) {
      #about .col-12.col-lg-8 {
      padding-left: 15px !important;
    }
  }

/* HELLO image */

.parallax {
  background-position: center center;
  padding-top: 100vh !important;
  background-attachment: scroll !important; /*override 'fixed' for iOS problem */
}

.parallax:after {
  content:"";
  position: fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url(/img/hello.jpg) center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .home-section.bg-image {
    background-position-x: 39%;
    background-size: 200%;
    padding: 330px 0 275px 0;
  }
}




/* MOBILE PROJECTS PAGE */
/* Adds small gap between feature img and Title */

#projects .col-12.col-md-6{
  padding-top: 15px;
}


/*------- iframe-----*/

iframe { 
   -moz-transform-origin: top left; 
   -webkit-transform-origin: top left; 
   -o-transform-origin: top left; 
   -ms-transform-origin: top left; 
   transform-origin: top left; 
}

.iframe-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: #ddd 0 solid;
  margin: 0 auto;
}

.iframe-container > iframe {
  border: none;
}

/*------div tips */

div.puzzle, div.fyi, div.demo, div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #75658c;
  background-color: #dbceefab;
  border: dashed 5px #d8c1f7;
}
      
div.puzzle {
  background-image: url("../Your-turn.png");
}
div.fyi {
  background-image: url("../fyi.png");
}
div.demo {
  background-image: url("../Live-code.png");
}
div.note {
  background-image: url("../Lightbulb.png");
}