/* Whole document: */

body {
  margin-top: 140px !important;
}
.navbar {
  min-height: 140px !important;
}

#navbar-main {
    box-shadow: none;
    text-transform: lowercase;
    background: #fcfcfcF2;
    /*rgba(255,255,255,0.95)*/;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}



/* About Section */

.home-section.wg-about {
  padding-top: 0;
  margin-top: -30px;
  padding-bottom: 0px;
}


#about h1 {
  margin-bottom: 50px;
}

#about h3 {
  margin-top: 50px;
}

#about .portrait-title h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

#about .portrait-title h3 {
  text-transform: lowercase !important;
  font-family: "Open Sans";
  margin-top: 10px;
}

#about .col-12.col-lg-8 {
  padding-left: 70px !important;
}

.parallax {
  background-attachment: fixed;
  width: 100%;
}